<div class="container">

  <button (click)="returnButton()" class="buttonStyle">Return</button>

  <div class="header">{{countryName}}</div>

  <div class="cards-container">
    <div class="card">
        <p>Number of entities</p>
        <strong>{{totalEntries}}</strong>
    </div>
      <div class="card">
          <p>Total numbers of medals</p>
          <strong>{{totalMedals}}</strong>
      </div>
    <div class="card">
        <p>Total numbers of athletes</p>
        <strong>{{totalAthletes}}</strong>
    </div>
  </div>

  <div class="chart-container">
    <ngx-charts-line-chart
    [results]="dataCharts"
    [xAxis]="true"
    [yAxis]="true"
    [autoScale]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="'Dates'"
    [yAxisLabel]="'Medals'">
    </ngx-charts-line-chart>
  </div>

</div>
