<div class="container">
    <div class="header">Medals per Country</div>
    <div class="cards-container">
    <div class="card">
        <p>Number of JOs</p>
        <strong>{{totalCities}}</strong>
    </div>
    <div class="card">
        <p>Number of countries</p>
        <strong>{{ (olympics$ | async)?.length }}</strong>
    </div>
  </div>
</div>

<div>
  <ngx-charts-pie-chart
    [results]="medalData"
    [legend]="showLegend"
    [labels]="showLabels"
    (select)="onPieChartClick($event)"></ngx-charts-pie-chart>
</div>